#s1{
  height:250px;
  width:500px;
  background: linear-gradient(purple,black);
  display: flex;
  justify-content: center;
  align-items: center;
}
#d1{
  height: 100px;
  width: 100px;
  background: linear-gradient(blue,white);
  border-radius: 50%;
  border:6px ridge red;
}