h1{
    color: cornflowerblue;
    text-align:center;
    text-shadow:10px 5px 4px black;
    text-indent:-500px;
    text-decoration-line: overline;
    text-decoration-style: double;
    text-decoration-color: black;
    text-transform: capitalize;
}
p{
    text-decoration:line-through;
}
a{
    text-decoration: none;
}

/* color: Give Color for text
text-align: justify,right,left,center
text-shadow:horizontal,vertical,shadaw,color;
text-indent:-500px(move from original position);
text-decoration-line:overline,underline,none;
text-decoration-style:wavy,dotted,dashed,double ;
text-decoration-color: color for style,line;
text-transform: capitalize,uppercase,lowercase; */