button{
    height: 50px;
    width: 100px;
    border-radius: 40%;
    background: linear-gradient(green,purple,yellow);
    border: 2px initial black;
    color: white;
}
button:hover{
    background: linear-gradient(purple,black); 
}